#logo img{
    width:60%;
}
#mainPage {
    padding-top:5vh;
    padding-bottom: 5vh;
    height: 90vh;
}

.nav-links {
    display:flex;
    justify-content: space-between;
    width: 20%;
    list-style: none;
    margin: 0;
}
.nav-links li {
    text-align: center;
    list-style: none;
    text-decoration: none;
}
.nav-links ul{
    list-style-type: none;
}
