body {
    background-color: #f7f7f7;
    margin:0;
    padding:0;
}
#mainPage {
    display: flex;
    flex-direction: column;
    padding: 7vh 9.5% 7vh 9.5%;
    height: 84vh;
    width: 80%;

}

.nav-links {
    display:flex;
    justify-content: space-between;
    width: 20%;
    list-style: none;
    margin: 0;
    
}

.nav-links li {
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.nav-links ul{
    list-style-type: none;
}

#logo{
    /* width:auto; */
    height:3vw;
    justify-content: left;
    /* align-content: center; */
    flex-shrink: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
  
#logo1{
    position: absolute;
    bottom: 0%;
    height: 100%;
    object-fit: contain;
}
#logo1.translate, #logo2.translate{
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}
#logo2{
    position: absolute;
    bottom: -100%;
    height: 100%;
    object-fit: contain;
}

  