nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    color: #f7f7f7;
    padding:0;
    margin:0;

}
header{
    width:100%;
}
#logo{
    width:6vw;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
}
body{
    margin:0;
    background-color: #1B1B1B;
    color: #f7f7f7;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
#mainPage {
    padding-left:11.5%;
    padding-right:11.5%;
    padding-top: 9vh;
    padding-bottom: 9vh;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 76%;
    border-radius: 20px;
    background-color: #1B1B1B;
}


button {
    color: #e7e7e7;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: width, left;
  }

a {
    color: inherit;
    text-decoration: none;
    font-size: 170%;
    text-align: center;
    margin-top:2vh;
    font-family: 'Rakkas', cursive;
}
@font-face{
    font-family: myFont;
    src: url("../fonts/DeutscheZierschrift.ttf");
}
